.container{
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
  border: 1px solid #999;
  border-top: 2px solid darkred;
  box-shadow: 5px 5px 12px #777;
  width: 20%;
  height: 270px;
  padding: 15px 10px;
}
.card h1{
  font-size: 14px;
  font-weight: 600;
}
.card p{
  margin: 0 0 8px 0;
}


